[Desktop Entry]
Type=Application
Exec=nitrogen
Name=nitrogen
Categories=Utility;GTK
Icon=nitrogen
Comment=Browse and set desktop backgrounds
Keywords=background;desktop;
